<div class="header bg-gradient-danger pb-3 pt-3">
  <div class="container-fluid">
    <div class="header-body">
      <h1 style="text-align: center; color: white;">Juegos importados</h1>
      <h3 style="text-align: center; color: white;">Personaliza tus juegos y compartelos !</h3>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col col-md-4" *ngFor="let group of clientgames; let indexGroup = index">
      <div style="width: 18rem; margin: auto;">
        <!-- Card stats -->
        <div class="card card-stats mb-4 mb-lg-0">
          <div class="card-body">
            <div class="row">
              <!-- <div class="col"> -->
              <ng-container *ngFor="let game of group; let indexGame = index">
                <ng-container *ngIf="game.cgd_property=='title'">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{game.cgd_value}}</h5>
                </ng-container>
                <ng-container *ngIf="game.cgd_property=='cover' && game.cgd_type=='file'">
                  <img style="width: 100%; padding: 1em;" src="{{game.cgd_value}}" alt="">
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let game of group; let indexGame = index">
                <ng-container *ngIf="game.cgd_property=='description'">
                  <p>{{game.cgd_value}}</p>
                </ng-container>
              </ng-container>
              <!-- <span class="h2 font-weight-bold mb-0">350,897 </span> -->
              <!-- <span class="text-nowrap"> de enlaces</span> -->
              <!-- </div> -->
            </div>
            <p class="mt-0 mb-0 text-muted text-sm" align="right">
              <button type="button" class="btn btn-outline-info"(click)="share(group[0])">
                <i class="bi bi-share"></i>
              </button>
              <a type="button" class="btn btn-outline-success" [routerLink]="['/library/my-game']" [queryParams]="{clientgame_id: group[0].cgd_client_game_id}">
                <i class="bi bi-pencil"></i>
              </a>
              <!-- <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
              <span class="text-nowrap">de tráfico</span> -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
