<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeMyModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="myForm" #form="ngForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nameGift">Nombre:</label>
          <input id="nameGift" name="name" formControlName="nameCtrl" type="text" class="form-control"
            placeholder="Nombre">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="typeGift">Tipo de premio:</label>
          <select id="typeGift" class="form-control" disabled>
            <option selected value="private">Privado</option>
            <option value="public">Público</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="pointsForGift">Valor en puntos:</label>
          <input id="pointsForGift" name="value" formControlName="valueCtrl" type="number" class="form-control"
            placeholder="Valor en puntos" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="stockOfGift">Stock:</label>
          <input id="stockOfGift" name="stock" formControlName="stockCtrl" type="number" class="form-control"
            placeholder="Stock" />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="descriptionOfGift">Descripción:</label>
          <textarea id="descriptionOfGift" name="description" formControlName="descriptionCtrl" type="text"
            class="form-control" placeholder="Descripción" rows="2"></textarea>
        </div>
      </div>
      <div class="col-md-12" *ngIf="type=='edit'" align="center">
        <a href="{{img}}" target="_blank" rel="noopener noreferrer">Ver imágen actual en una pestaña nueva</a>
      </div>
      <div class="col-md-12" style="margin-top: 1em;">
        <div class="custom-dropzone" ngx-dropzone [multiple]="false" [accept]="'image/*'" (change)="onSelect($event)">
          <ngx-dropzone-label>
            <div>
              <h2>Arrastra tu imágen aquí</h2>
              <h2>Ó haz click aquí para subir tu imágen</h2>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview style="margin: auto !important; padding-top: 15px !important;"
            ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true"
            (removed)="onRemove(f)">
            <ngx-dropzone-label>
              {{ f.name }}
              ({{ f.type }})
            </ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </div>
      </div>
      <!-- <div class="col-md-12">
        <div class="form-group">
          <input type="file" (change)="onFileSelected($event)" class="form-control" />
        </div>
      </div> -->
    </div>
  </form>
</div>
<div class="modal-footer">
  <button *ngIf="type=='add'" type="button" class="btn btn-outline-dark" (click)="add()">Agregar</button>
  <button *ngIf="type=='edit'" type="button" class="btn btn-outline-dark" (click)="edit()">Editar</button>
  <button type="button" class="btn btn-outline-dark" (click)="emitEvent(false)">Cerrar</button>
</div>
