<ng-container *ngIf="!loading.game">
  <div style="height: 79vh">
    <div class="header pt-3 page-header">
      <div class="container-fluid">
        <div
          class="header-body"
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <div style="display: flex; gap: 20px; align-items: center">
            <img [src]="game.photo" class="banner-img" />
            <div
              style="max-width: 300px; max-height: 81px"
              class="page-description"
            >
              <p class="banner-title">{{ game.name }}</p>
              <p>
                {{ game.description }}
              </p>
            </div>
          </div>
          <div>
            <button class="btn-add-game">EDITAR</button>
          </div>
        </div>
      </div>
    </div>

    <div class="">
      <p style="margin-left: 80px">
        Get started by configuring your game and adding properties based on your
        needs.
      </p>
      <app-property></app-property>
      <div class="properties-container">
        <input type="text" placeholder="name" class="property property-name" />
        <input type="text" placeholder="value" class="property property-value" />
        <select class="property property-select">
          <option>a</option>
          <option>b</option>
          <option>c</option>
        </select>
        <select class="property property-select">
          <option>a</option>
          <option>b</option>
          <option>c</option>
        </select>
      </div>
    </div>
  </div>
</ng-container>
