<ng-container *ngIf="!loading.game">
  <div style="height: 100%">
    <div class="header pt-3 page-header">
      <div class="container-fluid">
        <div
          class="header-body"
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <div style="display: flex; gap: 20px; align-items: center">
            <img [src]="game.photo" class="banner-img" />
            <div
              style="max-width: 300px; max-height: 81px"
              class="page-description"
            >
              <p class="banner-title">{{ game.name }}</p>
              <p>
                {{ game.description }}
              </p>
            </div>
          </div>
          <div>
            <button class="btn-add-game">EDITAR</button>
          </div>
        </div>
      </div>
    </div>

    <div>
      <p style="margin-left: 80px">
        Get started by configuring your game and adding properties based on your
        needs.
      </p>
      <ng-container *ngIf="!loading.properties">
        <div
          *ngFor="let propertyForm of propertiesForm; index as i"
          class="properties"
          [formGroup]="propertyForm"
        >
          <div class="properties-container">
            <label>
              <img
                style="width: 100px"
                *ngIf="
                  propertyForm.get('type').value === 'file' &&
                  propertyForm.get('value').value
                "
                class="property-value-image"
                [src]="propertyForm.get('value').value"
              />
              <input
                *ngIf="
                  propertyForm.get('type').value === 'file' &&
                  propertyForm.get('value').value
                "
                #fileInput
                class="property-value-file"
                type="file"
                accept="image/*"
                style="display: none"
                (change)="onFileSelect($event, propertyForm, i)"
                (click)="onFormGroupChange(propertyForm)"
              />
            </label>
            <input
              type="text"
              placeholder="name"
              class="property property-name"
              [defaultValue]="propertyForm.get('property').value"
              formControlName="property"
              (click)="onFormGroupChange(propertyForm)"
            />
            <input
              *ngIf="propertyForm.get('type').value !== 'file'"
              type="text"
              placeholder="value"
              class="property property-value"
              [defaultValue]="propertyForm.get('value').value"
              formControlName="value"
              (click)="onFormGroupChange(propertyForm)"
            />
            <select
              class="property property-select"
              formControlName="type"
              (click)="onFormGroupChange(propertyForm, i)"
            >
              <option
                value="string"
                [selected]="propertyForm.get('type').value === 'string'"
              >
                string
              </option>
              <option
                value="file"
                [selected]="propertyForm.get('type').value === 'file'"
              >
                file
              </option>
              <option
                value="int"
                [selected]="propertyForm.get('type').value === 'int'"
              >
                int
              </option>
            </select>
            <select
              class="property property-select"
              formControlName="environment"
              (click)="onFormGroupChange(propertyForm)"
            >
              <option
                value="sga"
                [selected]="propertyForm.get('environment').value === 'sga'"
              >
                sga
              </option>
              <option
                value="unity"
                [selected]="propertyForm.get('environment').value === 'unity'"
              >
                unity
              </option>
            </select>
            <button
              *ngIf="propertyForm.controls?.id?.value"
              class="btn-property update"
              (click)="updateProperty(propertyForm, i)"
            >
              <img src="../../../assets/svg/icons/mdi_pencil.svg" />
            </button>
            <button
              *ngIf="propertyForm.controls?.id?.value"
              class="btn-property delete"
              (click)="deleteProperty(propertyForm, i)"
            >
              <img src="../../../assets/svg/icons/trash.svg" />
            </button>
            <button
              *ngIf="!propertyForm.controls?.id?.value"
              class="btn-property save"
              (click)="saveProperty(propertyForm, i)"
              [disabled]="
                (!propertyForm.valid ||
                propertyForm.get('value').value ===
                  '../../../assets/svg/icons/image.svg'
              )"
              [style.background]="
                propertyForm.valid &&
                propertyForm.get('value').value !==
                  '../../../assets/svg/icons/image.svg'
                  ? '#7eec3b'
                  : '#E7E7E7'
              "
            >
              <img src="../../../assets/svg/icons/check.svg" />
            </button>
            <button
              *ngIf="!propertyForm.controls?.id?.value || propertyForm.touched"
              class="btn-property cancel"
              (click)="
                propertyForm.controls?.id?.value
                  ? onFormGroupCancel(propertyForm)
                  : cancelProperty(i)
              "
            >
              <img src="../../../assets/svg/icons/cancellation.svg" />
            </button>
          </div>
        </div>
      </ng-container>
      <div style="width: fit-content; margin: 0 auto; min-height: 100px">
        <button class="btn-add-property" (click)="addProperty()">
          AGREGAR
        </button>
      </div>
    </div>
  </div>
</ng-container>
