<nav style="width: 250px;">
  <!-- <i class="fas fa-bars"></i> -->

  <div style="height: 3rem;padding: 1.5rem">
    <div class="row">
      <div class="col-sm-10">
        <img src="../../../assets/img/financiera-compartamos.png" style="max-width: 100%; max-width: 100%;" alt="">
      </div>
      <div class="col-sm-2">
        <div align="right">
          <i class="bi bi-x-lg cursor-hover" (click)="closeSidebar()"></i>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!-- Navigation -->
  <ul class="navbar-nav">
    <ng-container (click)="closeSidebar()">
      <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
        <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link"
          style="border-style: none;outline: 0; border: none; -moz-outline-style: none;    padding: .675rem 1.5rem">
          <div class="row">
            <div class="col-sm-2" align="right">
              <i class="bi {{menuItem.icon}}" style="min-width: 2rem; font-size: 1em;"></i>
              <!-- <i class="bi {{menuItem.icon}}" font-weight="bold" style="min-width: 2rem; font-size: 1em; -webkit-text-stroke: 0.1px black;"></i> -->
            </div>
            <div class="col-sm-8" style="padding-left: 0.75em;">
              <div style="display: table; height: 100%; overflow: hidden;">
                <div style="display: table-cell; vertical-align: middle;">
                  <div style="font-size: .875rem; font-weight: 500;">
                    {{menuItem.title}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </a>
      </li>
    </ng-container>
  </ul>
  <!-- Divider -->
  <div style="padding: 0rem 1.5rem;">
    <hr class="my-3">
  </div>
  <!-- Heading -->
  <h6 class="navbar-heading text-muted" style="padding: .675rem 1.5rem;font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .04em;">Ayuda</h6>
  <!-- Navigation -->
  <ul class="navbar-nav mb-md-3">
    <li class="nav-item">
      <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/tutorial"
        style="padding: .25rem 1.5rem">
        <div class="row">
          <div class="col-sm-2" align="right">
            <i class="bi bi-camera-video" style="min-width: 2rem; font-size: 1em;"></i>
          </div>
          <div class="col-sm-8" style="padding-left: 0.75em;">
            <div style="display: table; height: 100%; overflow: hidden;">
              <div style="display: table-cell; vertical-align: middle;">
                <div style="font-size: .875rem; font-weight: 500;">
                  Tutoriales
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
          </div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/tutorial"
        style="padding: .25rem 1.5rem">
        <div class="row">
          <div class="col-sm-2" align="right">
            <i class="bi bi-question-square" style="min-width: 2rem; font-size: 1em;"></i>
          </div>
          <div class="col-sm-8" style="padding-left: 0.75em;">
            <div style="display: table; height: 100%; overflow: hidden;">
              <div style="display: table-cell; vertical-align: middle;">
                <div style="font-size: .875rem; font-weight: 500;">
                  Soporte
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
          </div>
        </div>
      </a>
    </li>
  </ul>

</nav>