<div class="header bg-gradient-danger pb-3 pt-3">
  <div class="container-fluid">
    <div class="header-body">
      <h1 style="text-align: center; color: white;">Premios y créditos</h1>
      <h3 style="text-align: center; color: white;">Gestiona los premios que ofreces y su valor en créditos</h3>
    </div>
  </div>
</div>
<div class="container mt-1">
  <br>
  <div align="right">
    <button class="btn btn-outline-secondary" (click)="add()">Agregar</button>
  </div>
  <br>
  <img style="width: 500px;" src="{{testImg}}" alt="">
  <div class="row">
    <div class="table-responsive" style="background-color: white;">
      <div>
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort" data-sort="name">Premio</th>
              <th scope="col" class="sort" data-sort="budget"></th>
              <th scope="col" class="sort" data-sort="budget">Créditos</th>
              <th scope="col" class="sort" data-sort="status">Acción</th>
            </tr>
          </thead>
          <tbody class="list">
            <tr *ngFor="let gift of gifts">
              <td scope="row" >
                <div class="media align-items-center">
                  <!-- <a href="#" class="avatar rounded-circle mr-3">
                    <img alt="Image placeholder" src="../../assets/img/theme/bootstrap.jpg">
                  </a> -->
                  <div class="media-body">
                    <span class="name mb-0 text-sm">{{gift.name}}</span>
                  </div>
                </div>
              </td>
              <td class="budget">
                <img src="{{gift.photo}}" style="width: 100%; max-width: 200px;" alt="">
              </td>
              <td class="budget">
                {{gift.value}}
              </td>
              <td>
                <span class="badge badge-dot mr-4">
                  <i class="bi bi-pencil-square cursor-hover" (click)="edit(gift.id)"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
